@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900&display=swap";

html, body {
  width: 100%;
  height: 100%;
  font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #000;
}

.nav-bar {
  width: 100vw;
  height: 60px;
  background-color: #000;
  z-index: 5;
  position: fixed;
  top: 0;
}

.nav-bar::after {
  content: "";
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(180deg, #000, transparent);
}

.nav-bar .nav-bar-items {
  display: flex;
  align-items: flex-start;
  width: 80vw;
  margin: 0 auto;
  font-size: 20px;
}

.nav-bar .nav-bar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  overflow: hidden;
  padding: 0 1.5em;
  text-align: center;
  color: #fff;
  text-transform: normal;
  text-decoration: none;
  transition: color .1s ease;
}

.nav-bar .nav-bar-item:hover {
  transition: color .2s ease;
  color: #aaa;
}

.nav-bar .nav-bar-item img {
  max-height: 40px;
}

.main-wrapper {
  width: calc(min(90vw, 1300px));
  margin: 0 auto;
}

.container {
  background-color: #000;
  z-index: 3;
}

.screen {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
  color: #fff;
}

.screen#start {
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 36px;
}

.screen#start h1 {
  line-height: 1.5em;
  margin: 0;
}

.screen#start span.tagline {
  font-size: 1em;
  opacity: .7;
}

.screen#start .cta {
  position: absolute;
  bottom: 5vh;
  font-size: 24px;
  line-height: 36px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.screen#start .cta::after {
  content: "";
  display: block;
  transform-origin: center;
  transform: rotate(45deg);
  width: .5em;
  height: .5em;
  border-bottom: 3px solid white;
  border-right: 3px solid white;
  position: relative;
  bottom: -5px;

  animation: caret-animation 2s ease;
}

@keyframes caret-animation {
  0% {
    bottom: 0;
  }
  50% {
    bottom: -10px;
  }
  100% {
    bottom: 0;
  }
}

.screen#overview .feature-view {
  height: 75vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
}

.screen#overview .feature-view > * {
  flex: 1;
}
