@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900&display=swap";

html, body {
  width: 100%;
  height: 100%;
  font-family: "Roboto",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

body {
  margin: 0;
  overflow-x: hidden;
  background-color: #000;
}

.nav-bar {
  width: 100vw;
  height: 60px;
  background-color: #000;
  z-index: 5;
  position: fixed;
  top: 0;
}

.nav-bar::after {
  content: "";
  display: block;
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 20px;
  background: linear-gradient(180deg, #000, transparent);
}

.nav-bar .nav-bar-items {
  display: flex;
  align-items: flex-start;
  width: 80vw;
  margin: 0 auto;
  font-size: 20px;
}

.nav-bar .nav-bar-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  overflow: hidden;
  padding: 0 1.5em;
  text-align: center;
  color: #fff;
  text-transform: normal;
  text-decoration: none;
  transition: color .1s ease;
}

.nav-bar .nav-bar-item:hover {
  transition: color .2s ease;
  color: #aaa;
}

.nav-bar .nav-bar-item img {
  max-height: 48px;
}

.main-wrapper {
  width: 90vw;
  margin: 0 auto;
}

.container {
  background-color: #000;
  z-index: 3;
  padding-top: 60px;
}
